<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}">Zdravotni System</a>
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapseNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="" (click)="patientsTable($event)">Patients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Privacy</a>
        </li>
      </ul>
      <form class="d-flex">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/registration']" routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}">Register</a>
          </li>
        </ul>
      </form>
    </div>
  </div>
</nav>
