<div *ngIf="!isUserAuthenticated()">
  <login></login>
</div>
<div *ngIf="isUserAuthenticated()">
  <h2>{{user.firstName}} {{user.lastName}}</h2>
  <form>
    <div class="form-group mt-2">
      <label for="userEmail">Email address</label>
      <input type="email" [(ngModel)]="user.email" class="form-control"
             id="userEmail" disabled aria-describedby="emailHelp" placeholder="Enter email"
             value="{{user.email}}" [ngModelOptions]="{standalone:true}">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group mt-2">
      <label for="userFirstName">First Name</label>
      <input type="text" [(ngModel)]="user.firstName"
             class="form-control" id="userFirstName"
             placeholder="Enter first name" value="{{user.firstName}}" [ngModelOptions]="{standalone:true}">
    </div>
    <div class="form-group mt-2">
      <label for="userLastName">Last Name</label>
      <input type="text" [(ngModel)]="user.lastName" class="form-control"
             id="userLastName" placeholder="Enter last name" value="{{user.lastName}}" [ngModelOptions]="{standalone:true}">
    </div>
    <div *ngIf="isDoctor()" class="form-group mt-2">
      <label for="userOfficeNumber">Office Number</label>
      <input type="number" [(ngModel)]="user.officeNumber" class="form-control"
             id="userOfficeNumber" placeholder="Enter office number" value="{{user.officeNumber}}" [ngModelOptions]="{standalone:true}">
    </div>
    <div *ngIf="isPatient()" class="form-group mt-2">
      <label for="userPhoneNumber">Phone Number</label>
      <input type="text" [(ngModel)]="user.phoneNumber" class="form-control"
             id="userPhoneNumber" placeholder="Enter phone number" value="{{user.phoneNumber}}" [ngModelOptions]="{standalone:true}">
    </div>
    <div *ngIf="isPatient()" class="form-group mt-2">
      <label for="userInsuranceNumber">Insurance Number</label>
      <input type="number" [(ngModel)]="user.insuranceNumber" class="form-control"
             id="userInsuranceNumber" placeholder="Enter insurance number" value="{{user.insuranceNumber}}" [ngModelOptions]="{standalone:true}">
    </div>
    <div *ngIf="isPatient()" class="mt-2">
      <input matInput [matDatepicker]="picker" [(ngModel)]="user.birthDate" [ngModelOptions]="{standalone:true}">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>
    <button type="submit" (click)="update(user)" class="btn btn-primary mt-3">Submit</button>
  </form>
</div>
